// variables
$cursive: "Mrs Saint Delafield";
$secondaryColor: #f2cac3;
$thirdColor: #6adbc6;

// config
html {
  font-size: 125%;
}

body {
  font-size: 0.9rem;
  background-color: #222222;
  color: white;

  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

h1,
h2,
h3,
h4,
p,
ul {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

.container {
  max-width: 1400px;
  width: 90%;
  margin: 0 auto;
}

// general button styles
.button {
  background: $secondaryColor;
  color: black;
  border: none;
  border-radius: 50px;
  padding: 8px 55px;
  transition: 0.3s all ease;

  &:hover,
  &:focus {
    background-color: $thirdColor;
  }

  &:active {
    background-color: darken($thirdColor, 10%);
  }
}
