.footer {
  padding: 0.5rem 0;
  font-size: 0.7rem;

  background-color: #222222;
  color: #ffffff;

  .flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &-policy {
    display: flex;

    li {
      margin: 0 10px;

      &:last-of-type {
        margin-right: 0;
      }
    }

    a {
      color: white;
      transition: 0.3s color ease;

      &:hover {
        color: $secondaryColor;
      }
    }
  }
}
