.header {
  height: 100vh;
  background-color: #080808;

  text-align: center;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &-title {
    font-family: $cursive;
    font-size: 8rem;
    color: rgba(242, 202, 195, 0.934);
    margin-bottom: 3rem;
  }

  &-subtitle {
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 10px;
    text-transform: uppercase;
  }

  &-email {
    display: block;
    margin-top: 1rem;
    color: white;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 2px;
    transition: 0.3s color ease;
  
    &:hover{
      color: rgba(242, 202, 195, 0.934);
    }
  }

  &-social-list {
    display: flex;
    justify-content: center;
    font-size: 1.5rem;

    &-item {
      margin: 1rem;
    }

    a {
      color: white;
      transition: 0.3s color ease;

      &:hover {
        color: rgba(242, 202, 195, 0.934);
      }
    }
  }
}

@media (max-width: 1110px){
  .header-title {
    font-size: 7rem;
  }
}

@media (max-width: 970px){
  .header-title {
    font-size: 5rem;
    margin-bottom: 1rem;
  }
}

@media (max-width: 715px){
  .header-title {
    font-size: 4rem;
    margin-bottom: 0.5rem;
  }

  .header-subtitle {
    font-size: 0.8rem;
    letter-spacing: 5px;
  }

  .header-social-list {
    font-size: 1rem;
  }
}

@media (max-width: 560px){
   .header-title {
    font-size: 2.75rem;
  }
}

@media (max-width: 475px){
   .header-subtitle {
    font-size: 0.75rem;
    letter-spacing: 2px;
  }
}